<a href="https://colab.research.google.com/github/geovannathereza/curso-de-machine-learning/blob/main/aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aluna: Geovanna Thereza

In [ ]:
idade1 = 20

In [ ]:
idade2 = 35

In [ ]:
idade1 + idade2

55

In [ ]:
somaIdades = idade1 + idade2

In [ ]:
idade1 - idade2

-15

In [ ]:
idade1 * idade2

700

In [ ]:
idade1 / idade2

0.5714285714285714

In [ ]:
idade1 + 10

30

In [ ]:
idade1 - 15

5

In [ ]:
idade1 * 4

80

In [ ]:
idade1 / 5

4.0

In [ ]:
2 * (idade1 + idade2)

110

In [ ]:
2 * idade1 + 3 * idade2 / 4

66.25

In [ ]:
(2 * idade1 + 3 * idade2) / 4

36.25

In [ ]:
idade1 ** 2

400

In [ ]:
15 ** 2

225

In [ ]:
idade2 // idade1

1

In [ ]:
idade2 / idade1

1.75

In [ ]:
idade2 % idade1

15

In [ ]:
nome = 'Geovanna'
sobrenome = 'Tavares'

print(nome + sobrenome)

In [ ]:
print(nome + ' ' + sobrenome)

Geovanna Tavares

In [ ]:
print ('Olá, ', nome, 'você tem ', idade1 + 15, 'anos.')

Olá,  Geovanna você tem  35 anos.

In [ ]:
print('Olá, ', nome, '\n', 'você tem ', idade1 + 15, 'anos.')

Olá,  Geovanna
 você tem  35 anos.

In [ ]:
input('Digite o seu nome: ')

Digite o seu nome: Geovanna

'Geovanna'

In [ ]:
nome = input('Digite seu nome: ')

Digite seu nome: Thereza

In [ ]:
nome = int(input('Digite seu nome: '))

Digite seu nome: 11111

In [ ]:
valor1 = input('Digite um número inteiro: ')
valor2 = input('Digite outro número inteiro: ')

Digite um número inteiro: 2
Digite outro número inteiro: 4

In [ ]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

False
False
True
False
True

In [ ]:
numero = 10
print(numero>0 and numero<10)

False

In [ ]:
numero = 10
print(numero>0 or numero<10)

True

In [ ]:
if ():
  print()
else:
  print()

DESAFIO CONDICIONAL

In [ ]:
num = int(input('Insira um número: '))

if (num % 2 == 0):
  print(num, 'é par')
else:
  print(num, 'é impar')

Insira um número: 3
3 é impar

In [ ]:
cupom = input('digite o cupom: ')

digite o cupom: aula3

In [ ]:
if (cupom == 'aula1' or cupom == 'aula2'):
  print('você ganhou 10% de desconto')
else:
  print('cupom inválido')

cupom inválido

DESAFIO CONDICIONAL COMPOSTA - IF, ELSE

In [ ]:
cupom = input('digite o cupom: ')

if (cupom == 'aula1' or cupom == 'aula2'):
  print('você ganhou 15% de desconto')
else:
  print('você ganhou 5% de desconto')

digite o cupom: aula2
você ganhou 15% de desconto

In [ ]:
if():
  print()
elif():
  print()
else():
  print()

DESAFIO CONDICIONAL COMPOSTA - IF, ELIF, ELSE

In [ ]:
cupom = input('digite o cupom: ')

if (cupom == 'aula1'):
  print('você ganhou 15% de desconto')
elif(cupom == 'aula2'):
  print('você ganhou 10%')
else:
  print('você ganhou 5% de desconto')

digite o cupom: aula2
você ganhou 10%

IDENTAÇÃO

In [ ]:
if (1 == 1):
  print('Mensagem no segundo nível')
  if((1==2) == False):
    print('Mensagem no terceiro nível')

DESAFIO IDENTAÇÃO

In [ ]:
sol = int(input('Digite 1 se estiver fazendo sol e 2 se não estiver: '))
dinheiro = int(input('Digite 1 se tiver dinheiro e digite 2 se não tiver: '))

if (sol == 1) and (dinheiro == 1):
  print('Vou a praia')
else:
  print('Vou assistir netflix')

Digite 1 se estiver fazendo sol e 2 se não estiver: 1
Digite 1 se tiver dinheiro e digite 2 se não tiver: 1
Vou a praia

In [ ]:
sol = int(input('Digite 1 se estiver fazendo sol e 2 se não estiver: '))
dinheiro = int(input('Digite 1 se tiver dinheiro e digite 2 se não tiver: '))

if (sol == 1) or (dinheiro == 1):
  print('Vou a praia')
else:
  print('Vou assistir netflix')

Digite 1 se estiver fazendo sol e 2 se não estiver: 1
Digite 1 se tiver dinheiro e digite 2 se não tiver: 1
Vou a praia

In [ ]:
sol = int(input('Digite 1 se estiver fazendo sol e 2 se não estiver: '))
dinheiro = int(input('Digite 1 se tiver dinheiro e digite 2 se não tiver: '))

if (sol == 1):
  if (dinheiro == 1):
    print('Vou a praia')
  else:
    print('Está sol mas não tenho dinheiro, vou assistir netflix')
else:
  print('Vou assistir netflix')

Digite 1 se estiver fazendo sol e 2 se não estiver: 2
Digite 1 se tiver dinheiro e digite 2 se não tiver: 1
Vou assistir netflix

In [ ]:
x = 4
0 < x < 5

True

DESAFIO

In [ ]:
ano = int(input('Digite o ano em que o carro foi fabricado: '))
valor = float(input('Digite o valor do carro: '))
imposto = float

if (ano < 1990):
  imposto = 1/100 * valor
  print('O imposto é de:', imposto)
else:
  imposto = 1.5/100 * valor
  print('O imposto é de:', imposto)

Digite o ano em que o carro foi fabricado: 2000
Digite o valor do carro: 45000
O imposto é de: 675.0

DESAFIO

In [ ]:
cargo = input('Insira seu cargo: ')
salarioAntigo = float(input('Insira seu salário atual: '))
salarioNovo = float

if (cargo == 'Gerente'):
  salarioNovo = salarioAntigo + (10/100 * salarioAntigo)
elif (cargo == 'Engenheiro'):
  salarioNovo = salarioAntigo + (20/100 * salarioAntigo)
elif (cargo == 'Técnico'):
  salarioNovo = salarioAntigo + (30/100 * salarioAntigo)
else:
  salarioNovo = salarioAntigo + (40/100 * salarioAntigo)

print(cargo, 'Seu salário antigo era: ', salarioAntigo, 'Seu salário atual é: ', salarioNovo)