<a href="https://colab.research.google.com/github/geovannathereza/curso-de-machine-learning/blob/main/aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for elemento in [1, 2, 3, 4, 5, 6]:
  print('Estamos no elemento ', elemento)

Estamos no elemento  1
Estamos no elemento  2
Estamos no elemento  3
Estamos no elemento  4
Estamos no elemento  5
Estamos no elemento  6

In [ ]:
for elemento in 'STRING':
  print('Estamos no elemento ', elemento)

Estamos no elemento  S
Estamos no elemento  T
Estamos no elemento  R
Estamos no elemento  I
Estamos no elemento  N
Estamos no elemento  G

In [ ]:
for elemento in range(len('STRING')):
  print('Estamos no elemento ', elemento)

Estamos no elemento  0
Estamos no elemento  1
Estamos no elemento  2
Estamos no elemento  3
Estamos no elemento  4
Estamos no elemento  5

In [ ]:
elemento = 0

In [ ]:
while elemento <= len([1, 2, 3, 4, 5, 6,]):
  print('Estamos no elemento', elemento)

In [ ]:
while elemento <= len([1, 2, 3, 4, 5, 6,]):
  print('Estamos no elemento', elemento)
  elemento +=1

Estamos no elemento 0
Estamos no elemento 1
Estamos no elemento 2
Estamos no elemento 3
Estamos no elemento 4
Estamos no elemento 5
Estamos no elemento 6

In [ ]:
s = 'string'

In [ ]:
indice = 0

while indice in range (len (s)):
  print ('Estamos no elemento', s[indice])
  indice +=1

Estamos no elemento s
Estamos no elemento t
Estamos no elemento r
Estamos no elemento i
Estamos no elemento n
Estamos no elemento g

In [ ]:
palavra = 'tranquilo'
for indice, letra in enumerate(palavra):
  print(indice, letra)

0 t
1 r
2 a
3 n
4 q
5 u
6 i
7 l
8 o

In [ ]:
lista = ['eat', 'sleep', 'repeat']
palavra = 'geek'

In [ ]:
objeto1 = enumerate (lista)
objeto2 = enumerate (palavra)

In [ ]:
print('Tipo: ', type(objeto1))
print(list(enumerate(lista)))

Tipo:  <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]

In [ ]:
print(list(enumerate(palavra,2)))

[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [ ]:
s = 'viva o python'
for ch in s:
  print('oi')

oi
oi
oi
oi
oi
oi
oi
oi
oi
oi
oi
oi
oi

In [ ]:
s = 'viva o python'
for ch in s[3:8]:
  print('oi')

oi
oi
oi
oi
oi

In [7]:
cont = 0
impar = 0
par = 0

for i in range(10):
  num = int(input(f'Digite o {cont+1}° número: '))
  cont +=1
  if num == 0:
    impar = par = 0
  if num % 2 == 0:
    par += 1
  else:
    impar += 1
  print(f'A quantidade de números pares é {par} e a quantidade de números ímpares é {impar}')

Digite o 1° número: 1
A quantidade de números pares é 0 e a quantidade de números ímpares é 1
Digite o 2° número: 2
A quantidade de números pares é 1 e a quantidade de números ímpares é 1
Digite o 3° número: 3
A quantidade de números pares é 1 e a quantidade de números ímpares é 2
Digite o 4° número: 4
A quantidade de números pares é 2 e a quantidade de números ímpares é 2
Digite o 5° número: 5
A quantidade de números pares é 2 e a quantidade de números ímpares é 3
Digite o 6° número: 6
A quantidade de números pares é 3 e a quantidade de números ímpares é 3
Digite o 7° número: 7
A quantidade de números pares é 3 e a quantidade de números ímpares é 4
Digite o 8° número: 8
A quantidade de números pares é 4 e a quantidade de números ímpares é 4
Digite o 9° número: 9
A quantidade de números pares é 4 e a quantidade de números ímpares é 5
Digite o 10° número: 10
A quantidade de números pares é 5 e a quantidade de números ímpares é 5

In [3]:
for dia in ['Sábado', 'Domingo']:
  semana = input('Digite o dia da semana: ')
if (semana == 'Domingo' or semana == 'Sábado'):
  print('Hoje é dia de descanso')
else:
  ('Você precisa trabalhar')

Digite o dia da semana: Domingo
Digite o dia da semana: Sexta

In [ ]:

for num in range(5):
  num = int(input('Digite um número: '))
  if (num % 2 == 0):
    num = num
    print('Número par: ', num)
  else:
    num = num * num
    print('Número ímpar multiplicado por ele mesmo: ', num)

In [ ]:
palavra = 'banana'
for indice, letra in enumerate(palavra[1:6:2]):
  print(indice, letra)

0 a
1 a
2 a

In [ ]:
for nome in ['Reginaldo', 'Gisele Pintcher', 'Scoob', 'Marlene', 'Zezinho', 'Cibele', 'Suely']:
  convite = ('Oi, ' + nome + '! Por favor, venha para o sábado pet em minha casa!')

  print(convite)

Oi, Reginaldo! Por favor, venha para o sábado pet em minha casa!
Oi, Gisele Pintcher! Por favor, venha para o sábado pet em minha casa!
Oi, Scoob! Por favor, venha para o sábado pet em minha casa!
Oi, Marlene! Por favor, venha para o sábado pet em minha casa!
Oi, Zezinho! Por favor, venha para o sábado pet em minha casa!
Oi, Cibele! Por favor, venha para o sábado pet em minha casa!
Oi, Suely! Por favor, venha para o sábado pet em minha casa!

In [ ]:
Frutas = ['Banana', 'Maçã', 'Morango', ]
'Morango' in Frutas

True

In [ ]:
for par in range(100, 150, 2):
  print(par, end=' ')

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148

In [ ]:
temp = 40
while temp > 25:
  print(temp)
  temp -= 1

40
39
38
37
36
35
34
33
32
31
30
29
28
27
26